* {
    margin: 0;
    padding: 0;
}

.contenedor-video {
    z-index: 1;
    justify-content: center;
    text-align: center;
    border-top: 20px solid #ffffff;
}

.banner {
    width: 90%;
    /* Hace que el video se ajuste al tamaño del contenedor */
    height: auto;
    /* Mantiene la relación de aspecto del video */
}

/* Media query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .contenedor-video {
        border-top: 10px solid #ffffff;
        border-right: 15px solid #ffffff;
        border-bottom: 10px solid #ffffff;
        border-left: 15px solid #ffffff;
    }

}

/* Media query para pantallas aún más pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .contenedor-video {
        border-top: 2px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }
}

.container {
    font-family: Arial, sans-serif;
    max-width: 90%;
    margin: auto;
}

.container img {
    display: block;
    margin: auto;
    padding: 3% 0;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
}

table .titulo {
    font-weight: bold;
    color: #065da6;
    text-align: right;
}

table .descripcion {
    font-weight: bold;
    color: #020202;
    text-align: left;
}

th,
td {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 2px;
}

th {
    background-color: #0e289c;
}
