* {
    margin: 0;
    padding: 0;
}

.contenedor-video {
    z-index: 1;
    justify-content: center;
    text-align: center;
    border-top: 20px solid #ffffff;
}

.banner {
    width: 90%;
    /* Hace que el video se ajuste al tamaño del contenedor */
    height: auto;
    /* Mantiene la relación de aspecto del video */
}

/* Media query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .contenedor-video {
        border-top: 10px solid #ffffff;
        border-right: 15px solid #ffffff;
        border-bottom: 10px solid #ffffff;
        border-left: 15px solid #ffffff;
    }

}

/* Media query para pantallas aún más pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .contenedor-video {
        border-top: 2px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }
}

.carousel-inner .container {
    font-family: Arial, sans-serif;
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.container img {
    display: block;
    margin: auto;
    padding: 3% 0;
    text-align: 0;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
}

table .titulo {
    font-weight: bold;
    color: #065da6;
    text-align: right;
}

table .descripcion {
    font-weight: bold;
    color: #020202;
    text-align: left;
}

th,
td {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 2px;
}

th {
    background-color: #0e289c;
}

h5 {
    background-color: #065da6;
    color: #ffffff;
}

h6 {
    color: #065da6;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .row,
.column {
    padding: 0;
    margin: 0;
    border: 0;
}

.carousel-inner .btn {
    background: #065da6;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    padding: 5 10em;
    transition: 0.5s;
}
.carousel-inner .btn:hover{
    background: #ffffff;
    color: #065da6;
}



.frutas-foother{
    height: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}
.frutas-foother img{
    height: 4.3vw;
    transition: .1s ease-in-out;
}
.frutas-foother img:hover{
    transform: scale(1.4);
}
.frutas-foother a{
    width: calc(100% / 22);
}



.footer {
    background-color: #065da6;
}
.footer a {
    color: #ffffff;
    font-size: 0.7em;
    text-decoration: none;
    transition: 3ms;
}

footer a:hover {
    color: #12e115;
}