* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-image: url("../assets/img/fondo.png");
  background-size: cover;
  position: relative;
  width: 100%;
  overflow-y: scroll;

}

.site-content {
  flex: 1;
  /* Flex crece para ocupar cualquier espacio disponible */
  /* Asegúrate de aplicar cualquier padding o margen necesario para el contenido */
}

body h1 {
  color: #022a80;
  font-size: 5vw;
  font-weight: bold;
  text-align: start;
  margin-left: 15vw;
  margin-top: 5vh;
}

.timeline-container {
  margin-top: 3vh;
  max-height: 30vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timeline-logo {
  flex: 0 0 auto;
  margin-right: 4vw;
}

.timeline-logo .logo {
  width: 10vw;
  height: auto;
}

.timeline {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.timeline-item {
  padding: 0;
  margin-right: 2vw;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.timeline-date {
  align-items: start;
  justify-content: center;
  background-color: #065da6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}


.site-content .carousel{
  margin-top: 3vh;
  max-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.images-container {
  display: none;
  flex-direction: row;
}
.carousel-inner {
  display: block;
  max-width: 70%;
  max-height: 40vh;
  overflow: hidden;
  margin: 0;
}

.carousel-inner .carousel-item{
  margin: 0;
  display: flex;
  justify-content: center;
}
.carousel-item img {
  max-height: 100%;
  object-fit: cover;
  max-height: 40vh;
}

@media (max-width: 768px) {
  .carousel-item .d-flex img {
    max-width: 75%;
    /* O cualquier otro ajuste según tu diseño */
  }
}

@media (max-width: 600px) {
  .timeline-logo .logo {
    width: 50px;
  }

  .timeline-date {
    padding: 3px 6px;
  }
}