/*---- NavBar --- */
.navbar-toggler {
    color: #51ff00;
}

.navbar {
    background-color: #065da6;
    overflow: visible;
}

#navbarNav li a {
    color: #ffffff;
    font-size: 1rem;
}

.navbar.dropdown-menu {
    position: relative;
    z-index: 1000;
}

.navbar .logo {
    height: 70px;
    width: auto;
}

.dropdown-menu {
    background-color: #022a80;
}

.dropdown-menu .dropdown-submenu .dropdown-menu {
    position: absolute;
    /* Mantiene el submenú posicionado absolutamente */
    top: 0%;
    /* Coloca el submenú justo debajo del ítem del menú */
    left: 100%;
    /* Alinea el submenú con el lado izquierdo del ítem del menú */
}

.dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    /* Muestra el submenú cuando se pasa el mouse */
}


/*---- End NavBar --- */

/*--- cont video ---*/
.contenedor-video {
    z-index: 1;
    border-top: 20px solid #ffffff;
    /* Borde superior blanco de 20px */
    border-right: 100px solid #ffffff;
    /* Borde derecho blanco de 100px */
    border-bottom: 20px solid #ffffff;
    /* Borde inferior blanco de 20px */
    border-left: 100px solid #ffffff;
    /* Borde izquierdo blanco de 100px */
}

video {
    width: 100%;
    /* Hace que el video se ajuste al tamaño del contenedor */
    height: auto;
    /* Mantiene la relación de aspecto del video */
}

/* Media query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .contenedor-video {
        border-top: 10px solid #ffffff;
        border-right: 15px solid #ffffff;
        border-bottom: 10px solid #ffffff;
        border-left: 15px solid #ffffff;
    }
}

/* Media query para pantallas aún más pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .contenedor-video {
        border-top: 2px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
    }
}

/*--- Ende Cont Video ---*/

/*---- Carrusel --- */
#contenedor-carrusel {
    margin: 20px 100px;
    position: relative;
    display: flex;
    align-items: center;
}


.elemento {
    padding: 0;
    margin: 0;
    width: 150px !important;
    height: auto;
    margin: 0 10px;
    background-color: #065da6;
    overflow: hidden;
}

.elemento img {
    height: 100%;
    width: auto;
    position: relative;
    object-fit: cover;
    /* Asegura que las imágenes cubran completamente el elemento */
    object-position: center;
}


@media (max-width: 768px) {
    .contenedor-carrusel {
        margin: 0 50px;
    }

    .elemento {
        width: 100px;
        height: 100px;
    }
}

.carousel-inner img {
    width: 100px;
    height: auto;
    border-color: blue;
    -webkit-box-shadow: 40px 38px 5px 0px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 40px 38px 5px 0px rgba(0, 0, 0, 0.97);
    box-shadow: 40px 38px 5px 0px rgba(0, 0, 0, 0.97);
}

.contenedor-ext {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    color: #022a80;
    position: absolute;
    top: 50%;
    /* Centra los botones verticalmente */
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Blanco. Ajusta según el color de fondo */
}

.carousel-control-prev {
    left: -50px;
    /* Ajusta según necesidades */
}

.carousel-control-next {
    right: -50px;
    /* Ajusta según necesidades */
}

/* Estilos para los elementos y animaciones aquí */


/*---- End Carrusel --- */
/*---- seccion info --- */
.informacion .btn {
    align-content: center;
}

.informacion .btn-catalogo {
    background: #065da6;
    color: #ffffff;
    border: 20%;
}

/*---- End seccion info --- */


/*---- Foother --- */
.footer {
    background-color: #065da6;
}

.footer a {
    color: #ffffff;
    font-size: 0.7em;
    text-decoration: none;
    transition: 3ms;
}

footer a:hover {
    color: #12e115;
}


/*---- End Fother --- */